.btn_margin{
   float:right;
 /* margin-top: 10px; */
}

.example-full-width {
    width: 92%;
  }

  .padding-10{
    padding: 10px
  }
  .text-align-right{
    text-align: right;
  }

  .modal-container {
    width: 80%;
    margin-left:20px;
  }

  .example-container {
    width: 75%
  } 


