
.mat-form-field{
      margin-bottom: 15px;
  }
.form-button{
    margin-top: 10px;
    text-align: right;
}
.form-button button{
    margin-right: 8px;
}

.input-control{
    width: 25%;
}
.sub-input-control{
    width: 80%;
}
.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.custom-padding{
    margin-top: 15px;
    padding-left:0!important;
}
.margin-7{
    margin:5px!important;
}
button:focus{
    outline: none!important;
}
.custom-margin{
    margin-top: 15px;
    margin-bottom: 15px;
}
.anchor{
    cursor: pointer!important;
    color: #5FB8F2 !important ;
}
.material-icons{
    font-size: 18px!important
}
.left-margin{
    margin-left: 45px!important;
}
.mat-form-field-flex
{
    margin-top: 8px;
}

@import "../../SanctionForms/sanction-forms.scss";