::ng-deep h2{
    font-family: Segoe UI;
    font-size: 25px;
    color:#702082;
}
.dialog-container {
    text-align: center;
}
.btn-margin{
    margin-left: 9%;
}
.left-margin{
    margin-left: 50%!important;
    margin-top: 20px;
}
.field-margin{
    margin-top: 15px;
}
.example-container {
    width: 75%
  } 
.example-container > * {
    width: 75%;
  }
  .modal-container {
    width: 80%;
    margin-left:15px;
  }
  .decription-container {
    width: 100%
  } 
.decription-container > * {
    width: 100%;
  }