<div class="page-title">
    <div class="col-md-12 title_left">
        <h1>My Task Workqueue</h1>
    </div>
</div>
<div class="clearfix"></div>
<div class="row" *ngIf="isSanctionUser()">
    <div class="col-sm-12 col-md-12 col-lg-3">
        <mat-card style="background-color:#c62828;">
            <mat-card-header>
                <mat-card-title style="color: white; font-weight: bold">5</mat-card-title>
            </mat-card-header>
            <mat-card-actions style="border-top:1px solid silver">
                <button mat-button style="color: white; font-weight: bold;margin-left: 50px">More Info<i class="material-icons frwd-arrw">
                        arrow_forward
                    </i></button>
            </mat-card-actions>
        </mat-card>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-3">
        <mat-card style="background-color:#ff8f00;  ">
            <mat-card-header>
                <mat-card-title style="color: white; font-weight: bold">2</mat-card-title>
            </mat-card-header>
            <mat-card-actions style="border-top:1px solid #bdbdbd">
                <button mat-button style="color: white; font-weight: bold;margin-left: 50px">More Info<i class="material-icons frwd-arrw">
                        arrow_forward
                    </i></button>
            </mat-card-actions>
        </mat-card>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-3">
        <mat-card style="background-color:#2e7d32;    ">
            <mat-card-header>
                <mat-card-title style="color: white; font-weight: bold">10</mat-card-title>
            </mat-card-header>
            <mat-card-actions style="border-top:1px solid silver">
                <button mat-button style="color: white; font-weight: bold;margin-left: 50px">More Info<i class="material-icons frwd-arrw">
                        arrow_forward
                    </i></button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-3">
        <mat-card style="background-color:#702082;    ">
            <!--#702082-->
            <mat-card-header>
                <mat-card-title style="color: white; font-weight: bold">26</mat-card-title>
            </mat-card-header>
            <mat-card-actions style="border-top:1px solid silver">
                <button mat-button style="color: white; font-weight: bold;margin-left: 50px">More Info<i class="material-icons frwd-arrw">
                        arrow_forward
                    </i></button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
<div class="row">
    <!--search panel-->
    <div class="col-sm-12 col-md-12 col-lg-12 custom-margin">
        <mat-accordion class="example-headers-align">
            <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(0)" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Search Criteria
                    </mat-panel-title>
                    <mat-panel-description>
                        Filter the sanctions task
                        <mat-icon style="color:#702082;">search</mat-icon>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div class="row">
                    <div class="col-sm-12 col-md-3 col-lg-4">
                        <mat-form-field style="width:80%">
                            <mat-label>Request Id</mat-label>
                            <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="2"
                                cdkAutosizeMaxRows="5"></textarea>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-4">
                        <mat-form-field class="sub-input-control">
                            <mat-select placeholder="Workstream" [disableRipple]="true" [(ngModel)]="workstream" name="workstream"
                                multiple>
                                <mat-option>None</mat-option>
                                <mat-option *ngFor="let workstream of workstreams" [value]="workstream">{{workstream}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-4">
                        <mat-form-field class="sub-input-control">
                            <mat-select placeholder="Business Area" [disableRipple]="true" [(ngModel)]="businessArea"
                                name="businessArea" multiple>
                                <mat-option>None</mat-option>
                                <mat-option *ngFor="let businessArea of businessAreas" [value]="businessArea">{{businessArea}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-3 col-lg-4">
                        <mat-form-field class="sub-input-control">
                            <mat-select placeholder="Country" [disableRipple]="true" [(ngModel)]="country" name="country"
                                multiple>
                                <mat-option>None</mat-option>
                                <mat-option *ngFor="let country of sanctionCountries" [value]="country">{{country}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-4">
                        <mat-form-field class="sub-input-control">
                            <mat-select placeholder="Policy Type" [disableRipple]="true" [(ngModel)]="policytype" name="policytype"
                                multiple>
                                <mat-option>None</mat-option>
                                <mat-option *ngFor="let policytype of policytypes" [value]="policytype">{{policytype}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-4">
                        <mat-form-field class="sub-input-control">
                            <mat-select placeholder="Status" [disableRipple]="true" [(ngModel)]="status" name="status"
                                multiple>
                                <mat-option>None</mat-option>
                                <mat-option *ngFor="let status of statusList" [value]="status">{{status}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-3 col-lg-4">
                        <mat-form-field class="mat-form-field-infix">
                            <input matInput [matDatepicker]="fromDatePicker" placeholder="From Date" [(ngModel)]="fromDate"
                                required>
                            <mat-datepicker-toggle matSuffix [for]="fromDatePicker"></mat-datepicker-toggle>
                            <mat-datepicker #fromDatePicker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-4">
                        <mat-form-field class="mat-form-field-infix">
                            <input matInput [matDatepicker]="toDatePicker" placeholder="To Date" [(ngModel)]="toDate"
                                required>
                            <mat-datepicker-toggle matSuffix [for]="toDatePicker"></mat-datepicker-toggle>
                            <mat-datepicker #toDatePicker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-4">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12" style="text-align:right">
                        <div class="form-button">
                            <button type="button" mat-raised-button color="basic" (click)="reset()">Reset</button>
                            <button type="button" mat-raised-button color="primary">Search</button>
                        </div>
                    </div>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>
<div class="clearfix"></div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <mat-card style="margin-bottom:20px;">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="workqueue-table">
                        <table class="table" matSort (matSortChange)="sortData($event)">
                            <thead>
                                <tr style="color:#702082;text-align: center;">
                                    <th scope="col" mat-sort-header="requestId">Request Id</th>
                                    <th scope="col" mat-sort-header="workstream">Workstream</th>
                                    <th scope="col" mat-sort-header="businessarea">Business Area</th>
                                    <th scope="col" mat-sort-header="policytype">Policy Type</th>
                                    <th scope="col" mat-sort-header="submittedDate">Submitted Date</th>
                                    <th scope="col" mat-sort-header="country">Country</th>
                                    <th scope="col" mat-sort-header="status">Status</th>
                                    <th scope="col" *ngIf="isSanctionUser()">RAG</th>
                                    <th scope="col" colspan="4">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor='let item of tempdata'>
                                    <td><a class="anchor" (click)='onSelect()'>{{item.id}}</a>
                                    <td>{{item.workStream}}</td>
                                    <td>{{item.businessArea}}</td>
                                    <td>{{item.policyType}}</td>
                                    <td>{{item.createdDate}}</td>
                                    <td>{{item.country}}</td>
                                    <td>{{item.status}}</td>
                                    <td *ngIf="isSanctionUser()">
                                        <div style="height: 5px; width:25px;background-color:#ff8f00;"></div>
                                    </td>
                                    <td>
                                        <a (click)='respondQuery()' class="link-btn"><i class="material-icons"
                                                data-toggle="tooltip" title="Respond Query" *ngIf="!isSanctionUser()">create</i></a>
                                        <a (click)='respondQuery()' class="link-btn"><i class="material-icons"
                                                data-toggle="tooltip" title="Raise Query" *ngIf="isSanctionUser()">question_answer</i>
                                        </a>
                                    </td>
                                    <td>
                                        <a (click)='reasign()' class="link-btn"><i class="material-icons" style="color:#0277bd;"
                                                data-toggle="tooltip" title="Delegate/Reassign" *ngIf="isSanctionUser()">account_box</i></a>
                                        <a (click)='create()' [ngStyle]='disableBtn(item.policyType,item.status)'><i
                                                class="material-icons" data-toggle="tooltip" title="Amendment" *ngIf="!isSanctionUser()"
                                                (click)="onSelect(item.id)"> border_color</i></a>
                                    </td>
                                    <td>
                                        <a>
                                            <i class="material-icons" title="Comment" style="color:#afb42b" data-toggle="tooltip"
                                                title="Add Comment" (click)="openDialog()"> comment </i>
                                        </a>
                                    </td>
                                    <td>
                                        <a (click)='navigate(item.workStream)' style="color:#0277bd">
                                            <i class="material-icons" data-toggle="tooltip" title="OpenForm">open_in_new
                                            </i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
                            (page)="pageEvent = $event">
                        </mat-paginator>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
</div>