<div class="page-title">
  <div class="col-md-12 title_left">
    <h1>Insurance Type Information</h1>
  </div>
</div>
<div class="clearfix"></div>
<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12 custom-margin">
    <mat-accordion class="example-headers-align">
      <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(0)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Search Criteria
          </mat-panel-title>
          <mat-panel-description>
            Filter the Insurance Type
            <mat-icon style="color:#702082;">search</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="row">
          <div class="col-sm-12 col-md-3 col-lg-4">
            <div class="col-sm-12 col-md-12 col-lg-10">
              <mat-form-field class="sub-input-control">
                <mat-select placeholder="Insurance Type Name" [disableRipple]="true" [(ngModel)]="insurancetypename" name="insurancetypename">
                  <mat-option>None</mat-option>
                  <mat-option *ngFor="let insurancetypename of insuranceTypeName" [value]="insurancetypename">{{insurancetypename}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="col-sm-12 col-md-3 col-lg-4">
            <div class="col-sm-12 col-md-12 col-lg-10">
              <mat-form-field class="sub-input-control">
                <mat-select placeholder="Insurance Type Group" [disableRipple]="true" [(ngModel)]="insurancetypegroup" name="insurancetypegroup">
                  <mat-option>None</mat-option>
                  <mat-option *ngFor="let insurancetypegroup of insuranceTypeGroup" [value]="insurancetypegroup">{{insurancetypegroup}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="col-sm-12 col-md-3 col-lg-4">
            <div class="col-sm-12 col-md-12 col-lg-10">
              <mat-form-field class="sub-input-control">
                <mat-select placeholder="Description" [disableRipple]="true" [(ngModel)]="description" name="description">
                  <mat-option>None</mat-option>
                  <mat-option *ngFor="let description of descriptions" [value]="description">{{description}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="row">
          <!-- <div class="col-sm-12 col-md-3 col-lg-4">
            <div class="col-sm-12 col-md-12 col-lg-10">
            </div>
          </div>
          <div class="col-sm-12 col-md-3 col-lg-4">
            <div class="col-sm-12 col-md-12 col-lg-10">
            </div>
          </div> -->
          <div class="col-sm-12">
            <!-- <div class="col-sm-12 col-md-12 col-lg-10 left-margin"> -->
              <div class="form-button"  style="text-align:right">

                <button type="button" mat-raised-button color="basic">Reset</button>
                <button type="button" mat-raised-button color="primary">Search</button>
                <button type="button" mat-raised-button color="primary" (click)="openDialog()">Add New</button>
              </div>
            <!-- </div> -->
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>


  </div>


</div>
<div class="clearfix"></div>
<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <div class="x_panel">
      <div class="x_content">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="workqueue-table">
              <table class="table table-responsive" matSort (matSortChange)="sortData($event)">
                <tbody>
                  <tr style="color:#702082;">
                    <th style="width:20%" mat-sort-header="InsuranceType">Insurance Type Name</th>
                    <th style="width:30%" mat-sort-header="Description">Description</th>
                  </tr>
                  <tr *ngFor='let item of tempdata'>
                    <td><a class="anchor" (click)='openDialog(item)'>{{item.insuranceTypeName}}</a></td>                   
                    <td>{{item.descriptions }}</td> 
                  </tr>
                </tbody>
              </table>
              <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = $event">
              </mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>